@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


:root {
    --red: #d49672;
    --light-red: #e5b193;
    --blue: #011F26;
    --light-color: #666;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    background-color: #f1ebeb;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    font-size: 4.5rem;
    color: var(--blue);
}

.heading span {
    position: relative;
    z-index: 0;
}

.heading span::before {
    content: '';
    position: absolute;
    bottom: 1rem; left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--red);
    clip-path: polygon(0 95%, 100% 80%, 90% 100%, 0% 100%);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    background: var(--light-red);
    color: var(--blue);
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover {
    background-color: var(--red);
}

.header {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 999;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 9%;
}

/* .header .logo {
    font-size: 2.5rem;
    color: var(--blue);
    font-weight: bolder;
}

.header .logo span {
    color: var(--red);
} */

.header .logo-img {
    padding-top: 0.7rem;
    height: 4rem;
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--blue);
}

.header .navbar a:hover {
    color: var(--red);
}

.header .btn {
    margin-top: 0;
}

.header #login-btn i {
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
    display: none;
}

#menu-btn {
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
    display: none;
}

.header.active {
    box-shadow: var(--box-shadow);
    padding: 2rem 9%;
}

.login-form-container {
    position: fixed;
    top: -105%; left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.login-form-container.active {
    top: 0;
    opacity: 1;
}

.login-form-container form {
    padding: 2rem;
    margin: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: #fff;
    border: var(--border);
    text-align: center;
    width: 40rem;
}

.login-form-container form .buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.login-form-container form .btn {
    display: block;
    width: 100%;
    margin: .5rem 0;
}

.login-form-container form h3 {
    color: var(--blue);
    font-size: 2.5rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.login-form-container form .box {
    margin: .7rem 0;
    width: 100%;
    text-transform: none;
    color: var(--blue);
    font-size: 1.6rem;
    padding: 1rem 1.2rem;
    border: var(--border);
    border-radius: .5rem;
}

.login-form-container form p {
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.login-form-container form p a {
    color: var(--red);
    text-decoration: underline;
}

.login-form-container #close-login-form {
    position: absolute;
    top: 1.5rem; right: 2.5rem;
    font-size: 4rem;
    color: var(--blue);
    cursor: pointer;
}

.heading-about {
    text-align: center;
    padding-top: 13rem;
    padding-bottom: 2rem;
    font-size: 4.5rem;
    color: var(--blue);
}

.heading-about span {
    position: relative;
    z-index: 0;
}

.heading-about span::before {
    content: '';
    position: absolute;
    bottom: 1rem; left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--red);
    clip-path: polygon(0 95%, 100% 80%, 90% 100%, 0% 100%);
}

.para-top {
    text-transform: none;
    font-size: 2.2rem;
    padding: 5rem 5rem 6rem 5rem;
}

.para-end {
    text-transform: none;
    font-size: 2.2rem;
    padding: 4rem 5rem 6rem 5rem;
    font-style: italic;
    text-align: center;
}

.para {
    text-transform: none;
    font-size: 2.2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
}

.para span {
    font-weight: bold;
}

/* .bgimg {
    display: flex   ;
    width: 100%;
    height: 100%;

} */

.contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact .row .map {
    flex: 1 1 42rem;
    width: 100%;
    height: 48.5rem;
    padding: 2rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.contact .row form {
    flex: 1 1 42rem;
    padding: 2rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    text-align: center;
}

.contact .row form h3 {
    font-size: 3rem;
    color: var(--blue);
}

.contact .row form .box {
    margin: .7rem 0;
    width: 100%;
    border: var(--border);
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--blue);
    text-transform: none;
    border-radius: .5rem;
}

.contact .row form textarea {
    height: 15rem;
    resize: none;
}

.footer {
    background: var(--light-red);
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    color: var(--blue);
    font-size: 2.2rem;
    padding: 1rem 0;
}

.footer .box-container .box a {
    color: var(--light-color);
    font-size: 1.4rem;
    display: block;
    padding: 1rem 0;
}

.footer .box-container .box a i {
    padding-right: .5rem;
    color: var(--blue);
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .credit {
    text-align: center;
    border-top: var(--border);
    padding: 1rem;
    padding-top: 2.5rem;
    margin-top: 2rem;
    font-size: 1.3rem;
}






/* Media Queries */

@media(max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    .header.active {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media(max-width: 768px) {

    #menu-btn {
        display: block;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header #login-btn i {
        display: block;
    }

    .header #login-btn .btn {
        display: none;
    }

    .header .navbar {
        position: absolute;
        top: 99%; left: 0; right: 0;
        background: #fff;
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a {
        display: block;
        margin: 2rem;
        font-size: 2rem;
    }
}

@media(max-width: 450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3rem;
    }

    .heading span::before {
        content: '';
        position: absolute;
        bottom: 1rem; left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: var(--red);
        clip-path: polygon(0 95%, 100% 85%, 90% 100%, 0% 100%);
    }

    .heading-about {
        text-align: center;
        padding-top: 10rem;
        padding-bottom: 1.5rem;
        font-size: 3.8rem;
        color: var(--blue);
    }

    .para-top { 
        font-size: 2.1rem;
        padding: 2.8rem 4rem 4rem 4rem;
    }
    
    .para-end {
        font-size: 2.1rem;
        padding: 4rem 4rem 4rem 4rem;
    }
    
    .para {
        font-size: 2.1rem;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 3rem;
    }
}   